.item-card {
    border: 5px solid #6D6875;
    display: inline-block;
    width:100%;
    height:100%;
    position:relative;
    background-color:#FFB4A2;
    left:-40%;
}

.item-card-picture {
    position:relative;
    height:95%;
    width:auto;
    left: 77%;
    top:3%;
    border: 1px dotted black;
    position:absolute;
}

.item-card-title {
    font-size:120%;
    font-weight:bold;
}

.item-card-title span{
    font-size:115%;
    font-weight:normal;
}

ul {
    list-style-type: none;
    height:auto;
}

.confirm-item-button {
    position:absolute;
    top:69%;
    height:30%;
    width:70%;
    font-size:115%;
    left:1%;
}

#item-list {
    position:absolute;
    width:40%;
    height:15%;
    left:48%;
    top:10%;
}

#item-list li{
    position:relative;
    width:100%;
    height:100%;
    margin-bottom: 5vh;
}

#we-found {
    position: absolute;
    top:5%;
    left:45%;
    font-size:120%;
}

#select-container{
    position: relative;
    top:-2%;
    width: 80%;
    height:90%;
    left:10%;
    border: 4vh ridge #FFB4A2;
    border-top: 0;
    border-bottom: 0;
    overflow-y:auto;
    padding-bottom: 700px;
    scroll-padding-bottom: 10%;
    background-image:url("../images/macys_logo_large_faded.png");
    background-repeat: no-repeat;
    background-size: contain;
}
html{
    height:100%;
}