<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="Macy's Locator" />
		<meta name="title" property="og:title" content="Macy's Locator" />
		<meta property="og:type" content="Website" />
		<meta name="image" property="og:image" content="https://i.ibb.co/k4Gcc91/73b9d413c046fa11fe0917bf70ae38a3.png" />
		<meta name="description" property="og:description" content="Macy Locator" />
		<meta name="author" content="Paul Edwards" />
		<link rel="stylesheet" href="/static/app.css" />
		{% block css %} {% endblock %}
	</head>
	<body>
		<nav class="navbar sticky">
			<img src="/static/images/macy_logo_small.png" id="small_logo">
            <a class="nav-button no-select" href="/">Home</a>
            <a class="nav-button" href='/login' hidden>Login</a>
		</nav>

		<section class="messages">
			{% with messages = get_flashed_messages(with_categories=true) %} {%
			if messages %} {% for category,msg in
			get_flashed_messages(with_categories=true) %}
			<p class="{{category}}">{{msg}}</p>
			{% endfor %} {% endif %} {% endwith %}
		</section>
		<div id="b-left"></div>
		<div id="b-right"></div>
		<div id="b-bottom"></div>

		{% block content %} {% endblock %}
		<footer>
			<div class="wrapper">
				<a href="https://www.facebook.com/Macys/">
					<span>
						<div class="icon facebook">
						  <div class="tooltip">Facebook</div>
						  <span><i class="fab fa-facebook-f"></i></span>
						</div>
					</span>
				</a>
				<a href="https://twitter.com/Macys?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
					<span>
						<div class="icon twitter">
						  <div class="tooltip">Twitter</div>
						  <span><i class="fab fa-twitter"></i></span>
						</div>
					</span>
				</a>
				
				<a href="https://www.instagram.com/macys/?hl=en">
					<span>
						<div class="icon instagram">
							<div class="tooltip">Instagram</div>
							<span><i class="fab fa-instagram"></i></span>
						  </div>
					</span>
				</a>
			  </div>
		</footer>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        {% block scripts %} <script src="/static/app.js"></script> {% endblock %}
	</body>
</html>
