{% extends 'base.html' %} {% block title %} Home {% endblock %} 
{% block css %} <link rel="stylesheet" href="/static/home/home.css" /> {% endblock %}
{% block content %}
<br/>
    <div id=home-container>
        <span><img id="home-logo" src="../static/images/macys_logo_large.png"><img/></span>
        <h1 id=home-title>Welcome to Macy's!</h1>
        <h3 id=home-greeting>What are you looking for?</h3>
        <h1 id="warning">APP CURRENTLY BEING UPDATED, PLEASE COME BACK ANOTHER TIME</h1>
        <form id=macy_search_form>
            <input type="text" id="macy-search-bar" placeholder=" I'm looking for...">
            <input type="submit" style="display: none" />
            <br/>
            <button id="macy-search-start" hidden>Search</button>
        </form>
        <div id=searching-content style="display: none">
            <p>Searching for related Items...</p>
            <p>Note: The API goes into "sleep mode" when unused, and may take a moment to return your results.</p>
            <div class="lds-dual-ring"></div>
        </div>
        <h4 id="show-me"><a href="/map">Just show me the map!</a></h4>
    </div>
{% endblock %}
{% block scripts %} <script src="../static/home/home.js"></script> {% endblock %}