{% extends 'base.html' %} {% block title %} Map {% endblock %} 
{% block css %} <link rel="stylesheet" href="../static/map/map.css" /> {% endblock %}
{% block content %}
    <div id="map_container">
        {% if destination %}
            <meta id="my-data" data-destination="{{destination}}">
        {%endif%}
        <img src="/static/images/Macy_Lower.jpg" alt="Map of Macy's lower floor" id="macy-lower-map">
        <canvas id="draw-here" width="2000%" height="2000%" style="border:5px solid #ff0101;"></canvas></img>
    </div>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="../static/map/map.js"></script> 
{% endblock %}